### Linear Regression with Movie lens data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # data visualization library

In [20]:
data = pd.read_csv('./ml-latest-small/movies.csv',index_col=False, header=0)
data.head() # shows top  rows

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
data.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [7]:
data.shape

(9742, 3)

In [17]:
ratings = pd.read_csv('./ml-latest-small/ratings.csv', index_col=False, header=0)
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
# create dataset
X =